.project_card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-bottom: 10px; /* Added */
    width: 75%;
}

.icon_btn{
    font-size: 1rem;
    color: lightgray;
}

.icon_btn_selected{
font-size: 1rem;
color: #55bcc9;
}

.like_btn{
    font-size: 2rem;
    color: lightgray;
}

.like_btn_selected{
font-size: 2rem;
color: #ff69b4;
}

#view_link{
    color: #97caef;
    font-size: .75rem;
}