{% extends 'base.html' %}
{% block content %}

	<div class="container">
		<div class="row">
			<div class="col-10">
				<div class="card my-5">
					<div class="card-header text-center h3">
						UserName
					</div>
					<div class="card-body border-bottom px-5" id="dm-card-body">
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>
						<p class="sender">User1: Hello</p>
						<p class="me text-right">me: HI!</p>

					</div>
					<form class="d-inline-flex align-items-center p-2">
						<textarea class="form-control" rows="2"></textarea>
						<button type="submit" class="btn btn-primary ml-2">Send</button>
					</form>
				</div>
			</div>

			<div class="col-2">

				<div class="card my-5">
					<nav class="nav flex-column nav-pills">
						<a class="nav-link active" href="#">user1</a>
						<a class="nav-link" href="#">user2</a>
						<a class="nav-link" href="#">user3</a>
					</nav>
				</div>
			</div>
		</div>
	</div>
{% endblock content %}
