{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h2>Collaborators: </h2>
    <ul class="list-group">
        <li class="card img-fluid" style="width:200px">
            <img class="card-img-top" src="{{ url_for('static', filename='profile_holder.jfif') }}" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h4 class="card-title">John Doe</h4>
              <a href="#" class="btn btn-primary">See Profile</a>
              <a href="#" class="btn btn-warning">Unfollow</a>
              <a href="{{ url_for('dm') }}" class="btn btn-warning">Dm</a>
            </div>
        </li>
        <li class="card img-fluid" style="width:200px">
            <img class="card-img-top" src="{{ url_for('static', filename='profile_holder.jfif') }}" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h4 class="card-title">John Doe</h4>
              <a href="#" class="btn btn-primary">See Profile</a>
              <a href="#" class="btn btn-warning">Unfollow</a>
              <a href="{{ url_for('dm') }}" class="btn btn-warning">Dm</a>
            </div>
        </li>
        <li class="card img-fluid" style="width:200px">
            <img class="card-img-top" src="{{ url_for('static', filename='profile_holder.jfif') }}" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h4 class="card-title">John Doe</h4>
              <a href="#" class="btn btn-primary">See Profile</a>
              <a href="#" class="btn btn-warning">Unfollow</a>
              <a href="{{ url_for('dm') }}" class="btn btn-warning">Dm</a>
            </div>
        </li>
        <li class="card img-fluid" style="width:200px">
            <img class="card-img-top" src="{{ url_for('static', filename='profile_holder.jfif') }}" alt="Card image" style="width:100%">
            <div class="card-img-overlay">
              <h4 class="card-title">John Doe</h4>
              <a href="#" class="btn btn-primary">See Profile</a>
              <a href="#" class="btn btn-warning">Unfollow</a>
              <a href="{{ url_for('dm') }}" class="btn btn-warning">Dm</a>
            </div>
        </li>
    </ul>
  </div>

{% endblock content %}