{% extends 'base.html' %}
{% block content %}
  <div class="container">
    <h2>Collaborators: </h2>
    <ul class="list-group">
        
        {% for friend in friends %}

          <li class="card img-fluid" style="width:200px">
              <img class="card-img-top" src="data:;base64,{{ friend.image }}" alt="Card image" style="width:100%">
              <div class="card-img-overlay">
                <h4 class="card-title">{{ friend.first_name }} {{ friend.last_name }}</h4>
                <a href="#" class="btn btn-primary">See Profile</a>
                <a href="#" class="btn btn-warning">Unfollow</a>
                <a href="{{ url_for('dm') }}" class="btn btn-warning">Dm</a>
              </div>
          </li>

        {% endfor %}

    </ul>
  </div>

{% endblock content %}