{% extends 'base.html' %}

{% block content %}
	<div class="container my-5 text-center">
		<h1 class="display-4">project<span class="pink">hookup</span></h1>
		<hr class="my-4">
		<p class="lead">Tinder for your projects</p>
		<a class="btn my-2 my-sm-0 nav_button_primary btn-lg" type="button" href="{{ url_for('registration') }}">Sign up</a>
	</div>


	<div class="container my-5">

		<div class="text-center">
			<h1 class="my-5">Our Vision</h1>
		</div>

		<hr class="mb-5">
		<p class="h5">Our team of developers sat down and thought of a social media web application that will change the world.  Have you ever wanted to complete a task or project but have a very hard time finding a team to work with?  In comes project<span class="pink">hookup</span>.  Our platform will seamlessly help you find team members or coworkers to help you complete any tasks that are thrown your way.  Whether it be computer programming projects, new/small bussiness projects, manufacturing projects, creative projects, or anything else that you can imagine, project<span class="pink">hookup</span> has you covered.</p>

		<div class="text-center">
			<h1 class="my-5">Our Team</h1>
		</div>

		<hr>

		<div class="row my-5">
			<div class="col-md-3 d-flex align-items-center">
				<img src="{{ url_for('static', filename='profile_holder.jfif') }}" class="img-fluid rounded-circle border">
			</div>
			<div class="col-md-9 text-center">
				<h4 class="pink">Xander Covert</h4>
				<p class="text-secondary">A junior computer science student coding to avoid doing computer science work.</p>
			</div>
		</div>

		<div class="row my-5">
			<div class="col-md-3 d-flex align-items-center">
				<img src="{{ url_for('static', filename='profile_holder.jfif') }}" class="img-fluid rounded-circle border">
			</div>
			<div class="col-md-9 text-center">
				<h4 class="pink">Zechariah Zientek</h4>
				<p class="text-secondary">A senior computer science student...</p>
			</div>
		</div>

		<div class="row my-5">
			<div class="col-md-3 d-flex align-items-center">
				<img src="{{ url_for('static', filename='profile_holder.jfif') }}" class="img-fluid rounded-circle border">
			</div>
			<div class="col-md-9 text-center">
				<h4 class="pink">Mike Spagna</h4>
				<p class="text-secondary">A senior computer science student with a keen eye for design.</p>
			</div>
		</div>

		<div class="row my-5">
			<div class="col-md-3 d-flex align-items-center">
				<img src="{{ url_for('static', filename='profile_holder.jfif') }}" class="img-fluid rounded-circle border">
			</div>
			<div class="col-md-9 text-center">
				<h4 class="pink">Drew Fiutko</h4>
				<p class="text-secondary">A junior computer science student looking to make a difference.</p>
			</div>
		</div>
	</div>

{% endblock content %}
