{% extends 'base.html' %}
{% block content %}
    </br>
    </br>
    </br>
    <h1 class="text-center">My Likes <i class="fas fa-fire-alt"></i></h1><br/>
    <div class="project_deck container">

			<div class="card mb-3 project_card" >
				<div class="row">
					<div class="col-sm-1 align-self-center">
						
					</div>
					<div class="col-sm-4  align-self-center">
						<img src="{{ url_for('static', filename='1_example_logo.jpg') }}" class="card-img" alt="...">
					</div>
					  <div class="col-sm">
						<div class="card-body">
							  <h5 class="card-title pink">Hippo</h5>
							  <p class="card-text" id="descroption">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in</p>
							 <p class="card-text" id="skills"><strong>Skills:</strong> Python, Javascript, HTML, CSS</p>
							<p class="card-text" id=""><i class="fas fa-users"></i>  3/5 collaborators</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10"></div>
					<div class="col">
						<a href="{{ url_for('hippo_proj') }}" id="view_link"><u>View Project>></u></a>
					</div>
				</div>
			</div>

	</div>

	<hr>
   
    
    <div class="project_deck container">

			<div class="card mb-3 project_card" >
				<div class="row">
					<div class="col-sm-1 align-self-center">
						
					</div>
					<div class="col-sm-4  align-self-center">
						<img src="{{ url_for('static', filename='2_example_logo.jpg') }}" class="card-img" alt="...">
					</div>
					  <div class="col-sm">
						<div class="card-body">
							  <h5 class="card-title pink">Rocket</h5>
							  <p class="card-text" id="descroption">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only fivaining essentially unchanged. It was popularised in</p>
							 <p class="card-text" id="skills"><strong>Skills:</strong> Mechanical Engineering, Aerospace Engineering</p>
							<p class="card-text" id=""><i class="fas fa-users"></i>  1/2 collaborators</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-10"></div>
					<div class="col">
						<a href="{{ url_for('rocket_proj') }}" id="view_link"><u>View Project>></u></a>
					</div>
				</div>
			</div>

	</div>

{% endblock content %}