{% extends 'base.html' %}
{% from '_macros.html' import project_display %} 
{% block content %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
		integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script src="{{ url_for('static', filename='project_list.js') }}" type="text/javascript" charset="utf-8"></script>

	<div id="new-post"></div>

	{% for project in projects %}
		{{ project_display(project) }}
	{% endfor %}


	<h1 style="text-align: center; color: #2a4247;">New Collaborators</h1>

	<div class="container my-5">
		<div class="row my-5">
			<div class="col-md-3 d-flex align-items-center">
				<img src="{{ url_for('static', filename='profile_holder.jfif') }}" class="img-fluid rounded-circle border">
			</div>
			<div class="col-md-9 text-center">
				<h4 class="pink">Studius Student</h4>
				<p class="text-secondary">A student thriving to succeed interested in all sorts of science stuff!</p>
			</div>
		</div>
	</div>

	<br/>

{% endblock content %}