{% extends 'base.html' %}
{% block content %}
	<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
		integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
	<script type="text/javascript" charset="utf-8">
		// Socket for likes
		var likes_socket = io('/likes');
		likes_socket.on('connect', function () {
			likes_socket.send('connected');
		});

		likes_socket.on('update', function (data) {
			text = document.querySelector('#like_count_' + data.project_id);
			text.textContent = data.likes;
		});

		function sendLike(project_id) {
			let user_id = 1;
			let data = { 'user_id': user_id, 'project_id': parseInt(project_id) };
			likes_socket.emit('like', data);
		}
		// Socket for new Posts
		var posts_socket = io('/posts');
		posts_socket.on('connect', function () {
			posts_socket.send('connected');
		});

		posts_socket.on('update', function (data) {
			text = document.querySelector('#new-post');
			text.innerHTML += `<div class="project_deck container">

				<div class="card mb-3 project_card">
					<div class="row">
						<div class="col-sm-1 align-self-center">
							<button type="button" class="like_btn btn px-3"
								onclick="sendLike('` + data.id + `'); return false;"><i class="fas fa-fire-alt"></i><span
									id="like_count_` + data.id + `">0</span></button>
						</div>
						<div class="col-sm-4  align-self-center">
							<img src="data:;base64,` + data.image + `" class="card-img" alt="...">
		</div>
							<div class="col-sm">
								<div class="card-body">
									<h5 class="card-title pink">` + data.title + `</h5>
									<p class="card-text" id="descroption">` + data.description + `</p>
									<p class="card-text" id="skills"><strong>Type: </strong>` + data.type + `</p>
									<p class="card-text" id=""><i class="fas fa-users"></i> ` + data.count + ` collaborators needed
				</p>
									<a href="/project/` + data.id + `"
										class="btn my-2 my-sm-0 nav_button_primary btn-lg" type="button">View Project</a>
								</div>
							</div>
						</div>
					</div>
				</div>`;
		});
	</script>

	<div id="new-post"></div>

	{% for project in projects %}

	<div class="project_deck container">

		<div class="card mb-3 project_card">
			<div class="row">
				<div class="col-sm-1 align-self-center">
					<button type="button" class="like_btn btn px-3"
						onclick="sendLike('{{ project.id }}'); return false;"><i class="fas fa-fire-alt"></i><span
							id="like_count_{{ project.id }}">{{ project.likes }}</span></button>
				</div>
				<div class="col-sm-4  align-self-center">
					<img src="data:;base64,{{ project.image }}" class="card-img" alt="...">
				</div>
				<div class="col-sm">
					<div class="card-body">
						<h5 class="card-title pink">{{ project.title }}</h5>
						<p class="card-text" id="descroption">{{ project.description }}</p>
						<p class="card-text" id="skills"><strong>Type: </strong>{{ project.type }}</p>
						<p class="card-text" id=""><i class="fas fa-users"></i> {{ project.count }} collaborators needed
						</p>
						<a href="{{ url_for('project', project_id=project.id) }}"
							class="btn my-2 my-sm-0 nav_button_primary btn-lg" type="button">View Project</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	{% endfor %}


	<h1 style="text-align: center; color: #2a4247;">New Collaborators</h1>

	<div class="container my-5">
		<div class="row my-5">
			<div class="col-md-3 d-flex align-items-center">
				<img src="{{ url_for('static', filename='profile_holder.jfif') }}" class="img-fluid rounded-circle border">
			</div>
			<div class="col-md-9 text-center">
				<h4 class="pink">Studius Student</h4>
				<p class="text-secondary">A student thriving to succeed interested in all sorts of science stuff!</p>
			</div>
		</div>
	</div>

	<br/>

{% endblock content %}