<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

	<title>Project Hookup | Profile</title>
</head>
<body>
	<nav class="navbar fixed-top navbar-expand-lg navbar-dark" style="background-color: #55BCC9;">
		<div class="container">
			<a class="navbar-brand" href="{{ url_for('home') }}">project<span class="pink">hookup</span></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="{{ url_for('home') }}">Home</a>
					</li>
					<li class="nav-item">
						<a class="nav-link " href="{{ url_for('projects') }}">Projects</a>
					</li>

				</ul>
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link " href="{{ url_for('profile') }}">Profile</a>
					</li>
					<li class="nav-item">
						<a class="btn my-2 my-sm-0 nav_button_primary" type="button" href="{{ url_for('signin') }}">Sign in</a>
					</li>
					<li class="nav-item">
						<a class="btn my-2 my-sm-0 nav_button_secondary" type="button" href="{{ url_for('registration') }}">Sign up</a>
					</li>
					
				</ul>
			</div>
		</div>
	</nav>
 
  <div class="jumbotron">
    <div class="container">
        <img src="{{ url_for('static', filename='profile_holder.jfif') }}" class="rounded">
        <hr class="my-4">
        <h2 class="lead">John Doe</h2>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('post') }}">Make a Project</a>
        <a type="button" class="btn btn-outline-primary float-right" href="#">Sign Out</a>
    </div>
  </div>

  <div class="container">
    <div class="list-group">
      <a href="{{ url_for('friends') }}" class="list-group-item list-group-item-action list-group-item-primary">Collaborators</a>
      <a href="{{ url_for('projects') }}" class="list-group-item list-group-item-action list-group-item-primary">Projects</a>
      <a href="{{ url_for('likes') }}" class="list-group-item list-group-item-action list-group-item-primary">Likes</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"data-toggle="collapse" data-target="#settings">Settings</a>
      <div id="settings" class="collapse">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputFirstname1">First Name</label>
                <input type="text" class="form-control" id="exampleInputFirstname1" placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="exampleInputLastname1">Last Name</label>
                <input type="text" class="form-control" id="exampleInputLastname1" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>
