{% extends 'base.html' %}
{% block content %}
 
  <div class="jumbotron">
    <div class="container">
        <img src="{{ url_for('static', filename='profile_holder.jfif') }}" class="rounded">
        <hr class="my-4">
        <h2 class="lead">John Doe</h2>
        <a type="button" class="btn btn-outline-primary" href="{{ url_for('post') }}">Make a Project</a>
        <a type="button" class="btn btn-outline-primary float-right" href="#">Sign Out</a>
    </div>
  </div>

  <div class="container">
    <div class="list-group">
      <a href="{{ url_for('friends') }}" class="list-group-item list-group-item-action list-group-item-primary">Collaborators</a>
      <a href="{{ url_for('projects') }}" class="list-group-item list-group-item-action list-group-item-primary">Projects</a>
      <a href="{{ url_for('likes') }}" class="list-group-item list-group-item-action list-group-item-primary">Likes</a>
      <a href="#" class="list-group-item list-group-item-action list-group-item-secondary"data-toggle="collapse" data-target="#settings">Settings</a>
      <div id="settings" class="collapse">
        <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputFirstname1">First Name</label>
                <input type="text" class="form-control" id="exampleInputFirstname1" placeholder="First Name">
              </div>
              <div class="form-group">
                <label for="exampleInputLastname1">Last Name</label>
                <input type="text" class="form-control" id="exampleInputLastname1" placeholder="Last Name">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Change</button>
        </form>
      </div>
    </div>
  </div>

{% endblock content %}
