{% extends 'base.html' %}
{% block content %}

    <script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"
        integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        var likes_socket = io('/comments');
        likes_socket.on('connect', function () {
            likes_socket.send('connected');
        });

        likes_socket.on('update', function (data) {
            text = document.querySelector('#new');
            text.innerHTML += '<p> <strong>' + data.name + ': </strong>' + data.comment + '</p>';
        });

        function sendComment(project_id) {
            comment = document.querySelector('#comment').value
            document.querySelector('#comment').value = ''
            let data = { 'project_id': parseInt(project_id), 'comment': comment };
            likes_socket.emit('comment', data);
        }
    </script>

    <div class="container">
        <h1 class="pink" id="project_name">{{ project.title }}</h1>
        <p>Initialized By {{ project.author_name }}</p>
        <hr>
        <div class="row">
            <div class="col-md-9">
                <img class="w-100 h-auto" id="logo" src="data:;base64,{{ project.image }}" alt="">
                <hr>
                <p id="description">{{ project.description }}</p>
            </div>

            <div class="col-md-3">
                <div class="row justify-content-center">
                    <div class="card mb-3">
                        <h5 class="card-header">Type of Project</h5>
                        <div class="card-body">
                            {{ project.type }}
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="card">
                        <h5 class="card-header text-center">Members: {{ joined }}/{{ project.count }}</h5>
                        <div class="card-body">
                            {% if members %}
                                {% for member in members %}

                                    <p><img class="w-25 d-inline h-auto mr-2 rounded-circle img-thumbnail" id="logo" src="data:;base64,{{ member.image }}" alt="">{{ member.name }}</p>

                                {% endfor %}
                            {% else %}
                                <p>No members yet!</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card my-4">
            <h5 class="card-header">Leave a Comment:</h5>
            <div class="card-body">
                {% for comment in comments %}
                <p> <strong>{{ comment.name }}: </strong>{{ comment.text }} </p>
                {% endfor %}
                <div id="new"></div>

                <form onsubmit="sendComment('{{ project.id }}'); return false;">
                    {{ form.hidden_tag() }}

                    <div class="form-group">
                        <!--textarea class="form-control" rows="3"></textarea-->
                        {{ form.comment(class="form-control", rows="3", id="comment") }}
                    </div>
                    <!--button type="submit" class="btn btn-primary">Submit</button-->
                    {{ form.post(class="btn btn-primary") }}
                </form>
            </div>

        </div>
    </div>

{% endblock content %}